.login-box-body{
    background: #ffffff61;
}
.login-admin{
    background: linear-gradient(rgba(221, 221, 221, 0.3), rgba(121, 121, 121, 0.53)),
    url(../images/home/parallax-4.jpg) center bottom / cover no-repeat;
}
#avatar{
    cursor: pointer;
    width: 160px;
    height:160px;
}
.error{
    font-size: 12px;
    font-family: inherit;
    font-weight: 300;
    font-style: italic;
}
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.modal .modal-header{
    text-align: center;
    background: #dd4b39;
    color: #fff;
}
.detail .modal-header{
    text-align: center;
    background: #3c8dbc;
    color: #fff;
}
